#actionshots div.actionshot, #coupon_themes div.list_entry {
	overflow: auto;
	border-bottom: 1px dashed black;
	padding: 10px;
}

#coupon_themes div.list_entry table {
	font-size : 12px;
}

#coupon_themes div.list_entry:last-child {
	border-bottom : 0;
}

#coupon_themes div.list_entry > div {
	float : left;
	margin-right : 50px;
}

#coupon_themes div.list_entry td.selection_column {
	width : 220px;
}

#coupon_themes div.list_entry td.uses_column {
	width : 120px;
}

#coupon_themes div.list_entry td.category_column {
	width : 180px;
}

#coupon_themes div.list_entry td.status_column {
	width : 50px;
	text-align : right;
	padding-right : 5px;
}

#coupon_themes div.list_entry td.edit_column {
	width : 120px;
}

#coupon_themes span.active_theme {
	color : green;
}

#coupon_themes span.inactive_theme {
	color : red;
}

#coupon_themes span.pending_theme {
	color : grey;
}

#coupon_themes button, #coupon_themes input[type="submit"] {
	padding-left : 5px;
	padding-right : 5px;
}

#coupon_themes button.inactive {
	color : grey;
}

#add_theme, #add_category {
	display : block;
	margin-bottom : 20px;
}

#actionshots div.actionshot.highlighted {
	background-color: #ffffff;
}

#actionshots div.actionshot:last-child {
	border-bottom: 0;
	margin-bottom: 0;
}

div.dialog input[type="text"], div.dialog input[type="file"] {
	margin-bottom : 10px;
}

#actionshots div.actionshot > div.image
{
	float: left;
}

#actionshots div.actionshot > div.image > div.rotate_left {
	background: url(object-rotate-left.png) no-repeat;
	height: 16px;
	width: 16px;
	float: left;
	cursor: pointer;
}

#actionshots div.actionshot > div.image > div.rotate_right {
	background: url(object-rotate-right.png) no-repeat;
	height: 16px;
	width: 16px;
	float: right;
	cursor: pointer;
}

#actionshots div.actionshot > div.image > table {
	border-collapse: collapse;
	border-spacing: 0;
	height: 125px;
	width: 125px;
	clear: both;
}

#actionshots div.actionshot > div.description {
	float: left;
	width: 600px;
}

#actionshots div.product,
#actionshots div.description {
	font-size: 12px;
	padding: 10px;
	overflow: hidden;
}

#actionshots div.description textarea.description {
	width: 300px;
	height: 75px;
	resize: none;
}

#actionshots div.description input.products_id {
	float: right;
}

#actionshots div.description div.additional_actionshots {
	clear: both;
	margin-top: 10px;
}

#actionshots div.description div.save_button {
	color: red;
	font-weight: bold;
	cursor: pointer;
	margin-bottom: 10px;
	display: none;
}

#actionshots div.description span.delete_button {
	color: red;
	font-weight: bold;
	cursor: pointer;
}

#actionshots div.description span.delete_button:hover,
#actionshots div.description div.save_button:hover {
	text-decoration: underline;
}

div.ajax_blocker {
	background: #CCCCCC url(ajax-loader.gif) no-repeat center center;
	cursor: wait;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.8;
	filter: alpha(opacity = 80);
}

#actionshots div.pagination {
	text-align: center;
}

#actionshots div.pagination > span {
	font-size: 13px;
	cursor: pointer;
}

#actionshots div.pagination > span:hover {
	text-decoration: underline;
}

#actionshots div.pagination > span.current {
	font-weight: bold
}

.ui-widget-content {
	font-size: 12px !important;
}

#actionshots div.search {
	margin: 0px auto;
	width: 500px;
}

.refund_list table
{
	margin-top: 10px;
}

.refund_list table td,
.refund_list table th
{
	padding: 1px 3px;
}

.refund_list table th
{
	font-weight: bold;
}