#missing_variantimages,
#missing_variantimages td,
#missing_variantimages th,
.ui-dialog-title,
.ui-button-text-only {
	font-size: 12px !important;
}

.ui-dialog-buttonpane {
	padding: 0 !important;
}


#missing_variantimages {
	width: 100% !important;
}

/*
#cashpoints_dialog > table img:hover,
#cashpoints_dialog > div img:hover {
	cursor: pointer;
}

#add_ccp, #comment {
	margin-right : 10px;
}
*/