a:focus {
	outline: none
}

.dynamic-tab-pane-control.tab-pane {
	position:	relative;
	width:		100%;		/* width needed weird IE bug */
	margin-right:	-2px;	/* to make room for the shadow */

}

.dynamic-tab-pane-control .tab-row .tab {

	height:				16px;
	position:		relative;
	background: #f7f7f7;
	top:			0;
	display:		inline;
	color: #5F5F5F;
	float:			left;
	overflow:		hidden;
	cursor:			pointer;
	margin:			1px 0 1px 5px;
	padding:		2px 3px 0px 3px;
	border:			1px solid #ccc;
	border-bottom: 0 none;
	z-index:		1;
	font-size:			12px;
	white-space:	nowrap;
	text-align:		center;
}

.dynamic-tab-pane-control .tab-row .tab.selected {
	height:				18px !important;
	background: #f3f3f3;
	z-index:		3;
	padding:		2px 4px 0px 4px;
	margin:			1px 0 -1px 5px;
	top:			-2px;
	font-size:				12px;
	font-weight: 700;
	
}

.dynamic-tab-pane-control .tab-row .tab a {
	font-size:				12px;
	color:				#5f5f5f;
	text-decoration:	none;
	cursor:				pointer;
	
}
.dynamic-tab-pane-control .tab-row .tab a:hover {
	font-size: 			12px;
	color:				#000;
	text-decoration:	none;
	cursor:				pointer;
	
}
.dynamic-tab-pane-control .tab-row .tab.selected a {
	color:#000;
	font-weight: 700;
}
.dynamic-tab-pane-control .tab-row .tab.hover {
	font-size:				12px;
	color:				#000;
	height:				16px;
	cursor:pointer;
	
}

.dynamic-tab-pane-control .tab-page {
	clear:			both;
	border:			1px solid #ccc;
	background:	#f3f3f3;
	z-index:		2;
	position:		relative;
	top:			-2px;
	font-size:				12px;
	color:				Black;
	padding:		5px;
	* padding-top:3px;
	font-family: Verdana;
	
}

.dynamic-tab-pane-control .tab-row {
	z-index:		1;
	white-space:	nowrap;
}