<table id="missing_variantimages">
	<tr>
		{foreach from=$attribute_names item=attribute_name}
		<th>{$attribute_name}</th>
		{/foreach}
	</tr>
		{foreach from=$attribute_values item=values}
		<tr>
			{foreach from=$attribute_names item=name}
			<td align="center">{$values[$name]}</td>
			{/foreach}
		</tr>
		{/foreach}
</table>